.k-icon {
    --k-icon-color:inherit;
    display: inline-flex;
    justify-content:center;
    align-items:center;
    position:relative;
    fill: currentColor;
    color:var(--k-icon-color);
    font-size:inherit;
}

@each $val in primary,success,warning,info,danger {
    .k-icon--$(val){
        --k-icon-color:var(--k-color-$(val));
    }
}
